@import "~bootstrap/scss/bootstrap";

body {
  background-color: #3b3b3b;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#main-content {

min-width: 500px;

}

.nav svg {
margin-right: 10px;
}

.green {
color: green;
}

.red {
color: red;
}

.hidden {
  display: none;
}

.stateSVGContainer {
  width: 600px;
  height: 600px;
  background: white;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.stateSVG {
  width: 450px;
  background: white;
}

.monitoring-alert {
  color: red;
  font-weight: bold;
}